<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, placeholder: 'Enter your name', class: 'form-control', required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= form.label :status %>
        <%= form.select :status, user_status_collection, {selected: form.object.status }, class: 'form-control', placeholder: 'Select status', required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= form.label :age %>
        <%= form.text_field :age, placeholder: 'Enter your age', class: 'form-control', required: true %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="actions">
        <%= form.submit :save ,class: 'btn btn-success'%>
      </div>
    </div>
  </div>

<% end %>
